# Lab SQL 9
In this lab we will find the customers who were active in consecutive months of May and June. Follow the steps to complete the analysis.

## Create a table `rentals_may` to store the data from rental table with information for the month of May.

In [1]:
# FIRST MAKE THE CONNECTION TO WORKBENCH

In [2]:
! pip install sqlalchemy
! pip install PyMySQL

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: PyMySQL in /opt/anaconda3/lib/python3.8/site-packages (1.0.2)

In [3]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass
password = getpass.getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'

engine = create_engine(connection_string)

In [5]:
#Create a table rentals_may
#check the data type from sql workbench
query = '''CREATE TABLE rental_may(
rental_id INT(11) UNIQUE NOT NULL,
rental_date DATETIME DEFAULT NULL,
inventory_id MEDIUMINT UNSIGNED DEFAULT NULL,
customer_id SMALLINT UNSIGNED DEFAULT NULL,
return_date DATETIME DEFAULT NULL,
staff_id TINYINT UNSIGNED DEFAULT NULL,
last_update TIMESTAMP DEFAULT NULL,
CONSTRAINT PRIMARY KEY (rental_id)
)'''

rental_may = pd.read_sql_query(query, engine)
rent_may

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'rental_may' already exists")
[SQL: CREATE TABLE rental_may(
rental_id INT(11) UNIQUE NOT NULL,
rental_date DATETIME DEFAULT NULL,
inventory_id MEDIUMINT UNSIGNED DEFAULT NULL,
customer_id SMALLINT UNSIGNED DEFAULT NULL,
return_date DATETIME DEFAULT NULL,
staff_id TINYINT UNSIGNED DEFAULT NULL,
last_update TIMESTAMP DEFAULT NULL,
CONSTRAINT PRIMARY KEY (rental_id)
)]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

## Insert values in the table `rentals_may` using the table rental, filtering values only for the month of May.

In [6]:
query_2 = '''INSERT INTO rental_may
SELECT * FROM rental
WHERE rental_date REGEXP '^2005-05' '''

data_rent_may = pd.read_sql_query(query_2, engine)
data_rent_may

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'rental_may.PRIMARY'")
[SQL: INSERT INTO rental_may
SELECT * FROM rental
WHERE rental_date REGEXP '^2005-05' ]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [7]:
#Final check if the data is inserted to the blank table
#its there!
pd.read_sql_query('select * from rental_may', engine)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
1151,1153,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

## Create a table `rentals_june` to store the data from rental table with information for the month of June.

In [8]:
query_3 = '''CREATE TABLE rental_june(
rental_id INT(11) UNIQUE NOT NULL,
rental_date DATETIME DEFAULT NULL,
inventory_id MEDIUMINT UNSIGNED DEFAULT NULL,
customer_id SMALLINT UNSIGNED DEFAULT NULL,
return_date DATETIME DEFAULT NULL,
staff_id TINYINT UNSIGNED DEFAULT NULL,
last_update TIMESTAMP DEFAULT NULL,
CONSTRAINT PRIMARY KEY (rental_id)
)'''

rent_june = pd.read_sql_query(query_3, engine)
rent_june

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'rental_june' already exists")
[SQL: CREATE TABLE rental_june(
rental_id INT(11) UNIQUE NOT NULL,
rental_date DATETIME DEFAULT NULL,
inventory_id MEDIUMINT UNSIGNED DEFAULT NULL,
customer_id SMALLINT UNSIGNED DEFAULT NULL,
return_date DATETIME DEFAULT NULL,
staff_id TINYINT UNSIGNED DEFAULT NULL,
last_update TIMESTAMP DEFAULT NULL,
CONSTRAINT PRIMARY KEY (rental_id)
)]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

## Insert values in the table `rentals_june` using the table rental, filtering values only for the month of June.

In [9]:
query_4 = '''INSERT INTO rental_june
SELECT * FROM rental
WHERE rental_date REGEXP '^2005-06' '''

pd.read_sql_query(query_4, engine)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1158' for key 'rental_june.PRIMARY'")
[SQL: INSERT INTO rental_june
SELECT * FROM rental
WHERE rental_date REGEXP '^2005-06' ]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [10]:
pd.read_sql_query('SELECT * FROM rental_june', engine)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1158,2005-06-14 22:53:33,1632,416,2005-06-18 21:37:33,2,2006-02-15 21:30:53
1,1159,2005-06-14 22:55:13,4395,516,2005-06-17 02:11:13,1,2006-02-15 21:30:53
2,1160,2005-06-14 23:00:34,2795,239,2005-06-18 01:58:34,2,2006-02-15 21:30:53
3,1161,2005-06-14 23:07:08,1690,285,2005-06-21 17:12:08,1,2006-02-15 21:30:53
4,1162,2005-06-14 23:09:38,987,310,2005-06-23 22:00:38,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
2306,3465,2005-06-21 22:10:01,1488,510,2005-06-30 21:35:01,1,2006-02-15 21:30:53
2307,3466,2005-06-21 22:13:33,371,226,2005-06-25 21:01:33,2,2006-02-15 21:30:53
2308,3467,2005-06-21 22:19:25,729,543,2005-06-27 00:03:25,2,2006-02-15 21:30:53
2309,3468,2005-06-21 22:43:45,2899,100,2005-06-30 01:49:45,1,2006-02-15 21:30:53
2310,3469,2005-06-21 22:48:59,4087,181,2005-06-28 19:32:59,1,2006-02-15 21:30:53

## Check the number of rentals for each customer for May.

In [11]:
query_5 = ''' SELECT customer_id, count(customer_id) AS rent_num
FROM rental
WHERE rental_date REGEXP '^2005-05'
GROUP BY customer_id
ORDER BY rent_num DESC '''

data_count_may = pd.read_sql_query(query_5, engine)
data_count_may

     customer_id  rent_num
0            197         8
1            109         7
2            506         7
3             19         6
4             53         6
..           ...       ...
515          580         1
516          582         1
517          590         1
518          595         1
519          599         1

[520 rows x 2 columns]

## Check the number of rentals for each customer for June.

In [12]:
query_6 = ''' SELECT customer_id, count(customer_id) AS rent_num
FROM rental
WHERE rental_date REGEXP '^2005-06'
GROUP BY customer_id
ORDER BY rent_num DESC '''

data_count_jun = pd.read_sql_query(query_6, engine)
data_count_jun

     customer_id  rent_num
0             31        11
1            454        10
2            213         9
3            267         9
4            295         9
..           ...       ...
585          549         1
586          555         1
587          564         1
588          580         1
589          598         1

[590 rows x 2 columns]

## Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

  - Check the number of rentals for each customer for May
  - Check the number of rentals for each customer for June

    **Hint**: You can store the results from the two queries in two separate dataframes.

In [ ]:
#See above

## Write a function that checks if customer borrowed more or less films in the month of June as compared to May.
 
 **Hint**: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. Here is a link to the documentation for the [merge function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [13]:
df= data_count_may.merge(data_count_jun, on='customer_id')
df

     customer_id  rent_num_x  rent_num_y
0            197           8           8
1            109           7           5
2            506           7           5
3             19           6           3
4             53           6           5
..           ...         ...         ...
507          580           1           1
508          582           1           3
509          590           1           5
510          595           1           2
511          599           1           4

[512 rows x 3 columns]

In [14]:
df.sum(axis = 0, skipna = True)

customer_id    154135
rent_num_x       1142
rent_num_y       1983
dtype: int64

In [15]:
def compare():
    #column_name = "rent_num_x"
    may_sum = df['rent_num_x'].sum()
    jun_sum = df['rent_num_y'].sum()
    
    if may_sum > jun_sum:
        print('customer rented less films than June')
    
    else:
        print('customer rented more films in June')

compare()

customer rented more films in June

In [ ]:
def rental_cust(customer_id):
    temp_data = data[data['customer_id'] == customer_id]
    if len(temp_data) == 0:
        return False
    if sum(temp_data['rent_may']) > sum(temp_data['rent_june']):
        return True
    else:
        return False

In [ ]:
def rita(num):
    if num%2 == 1:
        result = num**2
    else:
        result = sqrt(num)
        
    return result